$font-Montserrat: 'Montserrat', 'Arial', sans-serif;
$font-Roboto: 'Roboto', 'Arial', sans-serif;
$font-Kaushan-Script: 'Kaushan Script', 'Arial', sans-serif;
$hover-color: rgb(252, 227, 138);
$secondary-color: rgb(149, 225, 211);
$gradient: 90deg,rgb(252, 227, 138) 0%,rgb(243, 129, 129) 100%;